.available-books-list-container, .my-book-list-container {
    padding-bottom: 30px;

    .book-list-text {
        margin-top: 0px;
        padding-top: 30px;
        text-align: center;
    }

    .book-count-text {
        padding-top: 30px;
        text-align: center;
    }

    .add-book-container {
        padding: 10px 0 15px 0;
        text-align: center;

        button {
            text-transform: none;
            font-size: 1.25rem;
            color: #E77436;
            border-color: #E77436;
        }

        button:hover {
            color: white;
            background-color: #E77436;
        }
    }

    hr {
        border-color: lightgray !important;
    }
}

.library-background {
    background-image: url('../images/books.png');
    padding: 40px;
}

.login-container {
    margin-top: 60px;

    .toggle-login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        .toggle-login-button {
            margin-top: 10px;
            text-transform: none;
            font-size: 1.25rem;
            color: #E77436;
            border-color: #E77436;
        }

        .toggle-login-button:hover {
            color: white;
            background-color: #E77436;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .MuiInputBase-root {
        margin-bottom: 10px !important;
    }

    button {
        background-color: #E77436 !important;
        text-transform: none !important;
        font-size: 1.25rem !important;
    }
}